{% extends 'pur_beurre/layout.html' %}
 {% load static %}

    {% block content %}

<section id="section-product">
    <div  class="container-fluid bg-dark" >
        <div class="row align-items-center" >
            <div class="col-md-6 text-center" >
                <img class="img-product p-3" src="{{product.image_url}}">

            </div>
            <div class="col-md-6">
                <h4 class="text-center text-white ">{{product.name}}</h4>
            </div>
        </div>
    </div>
</section>
<section class="section-detail">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 text-center">
                    {% if product.nutriscore == "a"%}
                        <img src={% static 'assets/fonts/nutriscore-a.svg' %}>
                    {% elif product.nutriscore == "b"%}
                        <img src={% static 'assets/fonts/nutriscore-b.svg' %}>
                    {% elif product.nutriscore == "c"%}
                        <img src={% static 'assets/fonts/nutriscore-c.svg' %}>
                    {% elif product.nutriscore == "d"%}
                        <img src={% static 'assets/fonts/nutriscore-d.svg' %}>
                    {% elif product.nutriscore == "e"%}
                        <img src={% static 'assets/fonts/nutriscore-e.svg' %}>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="text-center"><img src="{{url}}">
                    </div>
                    <h4>Repères nutritionels pour 100 g :</h4><br>
                    <h5>Matières grasses / Lipides : <strong>{{product.nutriment_fat}}</strong> g  </h5>
                    <h5>Acides gras saturés : <strong>{{product.nutriment_saturated_fat}}</strong> g </h5>
                    <h5>Sel : <strong>{{product.nutriment_salt}}</strong> g  </h5>
                    <h5>Sucres : <strong>{{product.nutriment_sugars}}</strong> g </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 m-4 text-center bg-caramel p-2">
                    <a class="text-white " href="{{product.url}}">Voir fiche openfoodfact</a>
                </div>

            </div>
        </div>
    </section>
<!--    <header id="food-header" class="masthead text-center text-white d-flex">-->
<!--        <div class="container-fluid bg-dark" style="height: 300px;">-->
<!--            <div class="row align-items-center h-100" style="height: 394px;">-->
<!--                <div class="col mx-auto col-md-4">-->
<!--                    <div>-->
<!--                        <p class="text-center text-white">Produit à substituer : </p>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <img src="{{product.image_url}}">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
<!--    <section>-->
<!--        <div class="d-flex container">-->

<!--            <div class="row">-->


<!--                <div class="col-md-4" style="height: 600px;">-->
<!--                    <div class="d-flex d-xl-flex justify-content-center justify-content-xl-center"><img src="{{url}}">-->
<!--                    </div>-->
<!--                    <p>{{product.name}}</p>-->
<!--                    <a href="{{product.url}}">voir fiche openfoodfact</a>-->
<!--                    <p>{{product.nutriment_fat}} <br>Matières grasses / Lipides</br> en quantité modérée </p>-->
<!--                    <p>{{product.nutriment_sat}} <br>Acides gras saturés</br> en quantité modérée </p>-->
<!--                    <p>{{product.nutriment_saturated_fat}} <br>Sucres</br> en quantité élevée </p>-->
<!--                    <p>{{product.nutriment_sugars}} <br>Sel</br> en quantité modérée </p>-->



<!--                <div class="d-flex d-xl-flex justify-content-center justify-content-xl-center">-->
<!--                        {% if product.name == "a"%}-->
<!--                            <img src={% static 'assets/fonts/nutriscore-a.svg' %}>-->
<!--                        {% elif product.nutriscore == "b"%}-->
<!--                            <img src={% static 'assets/fonts/nutriscore-b.svg' %}>-->
<!--                        {% elif product.nutriscore == "c"%}-->
<!--                            <img src={% static 'assets/fonts/nutriscore-c.svg' %}>-->
<!--                        {% elif product.nutriscore == "d"%}-->
<!--                            <img src={% static 'assets/fonts/nutriscore-d.svg' %}>-->
<!--                        {% elif product.nutriscore == "e"%}-->
<!--                            <img src={% static 'assets/fonts/nutriscore-e.svg' %}>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                </div>-->


<!--            </div>-->



<!--        </div>-->
<!--    </section>-->



    {% endblock content %}