{% extends 'pur_beurre/layout.html' %}
 {% load static %}

    {% block content %}

        <section id="index-header-img" class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase bg-moules py-2"><strong>Du gras, oui, mais de qualite !</strong></h1>
                    <hr>
                    <h2 id="index-h2" class="bg-caramel py-2 rounded">Trouvez un produit de substitution pour ceux que vous consommez tous les jours</h2>
                </div>
            </div>

                {% include 'pur_beurre/search_form2.html' %}

        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="text-white bg-moules py-1">Colette et Rémy<br></h2>
                    <hr class="my-4">
                    <p class="text-monospace mb-5" style="color: black;"><br>Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux restaurateurs de renom. Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas. Notre spécialité, la ratatouille,
                        nous attire une clientèle internationale charmée par les délices de ce plat typique.<br><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <div class="mx-auto service-box mt-5" data-aos="zoom-in"><img id="colette-img" src="{% static 'assets/img/colette-tatou-full.png' %}">
                        <h3 class="mb-3 text-white bg-rooibos py-1">Colette</h3>
                    </div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <p class="bg-moules"></p>
                    <div class="mx-auto service-box mt-5" data-aos="zoom-in"><img class="swing animated" id="remy-img" src="{% static 'assets/img/ratatouille-portrait.jpg' %}">
                        <h3 class="mb-3 bg-rooibos text-white py-1">Rémy</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-1">
        <div class="container-fluid bg-moules">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading bg-caramel text-white py-2">Contactez-nous !</h2>
                    <hr class="my-4">
                    <p class="mb-5 text-white">Vous souhaitez goûter notre ratatouille maison ! Contactez-nous par mail ou par téléphone pour réserver dès maintenant.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true" style="color: white;"></i>
                    <p style="color: rgb(241,244,247);">123-456-6789</p>
                </div>
                <div class="col-lg-4 mr-auto text-center"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="color: white;"></i>
                    <p><a href="mailto:your-email@your-domain.com" style="color: white;">email@example.com</a></p>
                </div>
            </div>
        </div>
    </section>

        {% endblock content %}
