{% extends 'pur_beurre/layout.html' %}
 {% load static %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                <h2>Mentions légales</h2>

                    <ul>
                        <li>Thème boostrap utilisé : <a href="https://startbootstrap.com/theme/creative">lien</a>
                        </li>
                        <li>Logo utilisé pour les favoris : <a href="https://www.pngegg.com/fr/png-yewfl">lien</a>
                        </li>
                        <li>Les informations sur les produits de substitutions proviennent du site :
                            <a href="https://world.openfoodfacts.org/">Openfoodfacts</a>
                        </li>
                        <li>Les icones du site proviennent du site :
                            <a href="https://fontawesome.com/">lien</a>
                        </li>
                        <li>Les images de la page d'accueil proviennent des créateurs du film Ratatouille.
                        </li>
                        <li>Site hébergé sur Heroku :
                            <a href="https://www.heroku.com/">lien</a>
                        </li>
                    </ul>




                </div>
            </div>
        </div>
    </section>
{% endblock content %}