{% extends 'pur_beurre/layout.html' %}
 {% load static %}
{% load crispy_forms_tags %}
{% block title %}Créer un compte{% endblock %}
    {% block content %}


    <section>
        <div class="container col-md-6">
            <div class="form-container">
                <div class="image-holder"></div>
                {% csrf_token %}
                {% for message in messages %}
					<h4 class="text-danger" id="messages">{{message}}</h4>
				    {% endfor %}
                <form method="post" action="{% url 'register' %}">
                    {% crispy form %}
                </form>
                </div><a class="already" href="{% url 'login' %}">Vous avez déjà un compte ? Indentifiez-vous.</a><div>
            </div>

        </div>
    </section>


        {% endblock content %}
